@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background-image: linear-gradient(to top, #65b30d 0%, #0f7652 100%);
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    #0f7652 0%,
    #7fe509 76%,
    #0f7652 100%
  );
  padding: 0 35px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.btn-gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
